@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
body {
  font-family: 'Nunito', sans-serif;
  color: #000000;
  background-color: #fefefe;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
 }


.navlogo{
  max-width: 200px;
}

.layout_padding {
  padding: 90px 0 0 0;
}

.layout_padding2 {
  padding: 75px 0;
}

.layout_padding2-top {
  padding-top: 75px;
}

.layout_padding2-bottom {
  padding-bottom: 75px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.layout_margin-top {
  margin-top: 90px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heading_container h2 {
  position: relative;
  font-weight: bold;
  margin-bottom: 0;
  text-transform: uppercase;
}

.heading_container p {
  margin-top: 10px;
  margin-bottom: 0;
}

.heading_container.heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*header section*/
.hero_area {
  background-image: linear-gradient(110deg, #9bb0da , #617db6 , #004775);
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}


.hero_bg_box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.hero_bg_box svg {
  color: #FFFFFF;
  position: relative;
  display: block;
  width: calc(153% + 1.3px);
  height: 163px;
}

.hero_bg_box .shape-fill {
  fill: #FFFFFF;
}

@media (max-width: 767px) {
  .hero_bg_box svg {
      width: calc(166% + 1.3px);
      height: 163px;
  }
}

.hero_area .hero_itm {
  position: absolute;
  bottom: 12%;
  right: 5%;
  width: 23%;
  height: auto;
}

.hero_area .hero_itm img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom right;
     object-position: bottom right;
}

@media screen and (max-width:767px) {
  .hero_itm {
    display: none;
  }
}


.sub_page .hero_area {
  min-height: auto;
  background-color: #178066;
}


.header_section {
  padding: 15px 0;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.navbar-brand span {
  font-weight: bold;
  font-size: 24px;
  color: #ffffff;
  text-transform: uppercase;
}

.custom_nav-container {
  padding: 0;
}

.custom_nav-container .navbar-nav {
  margin-left: auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 5px 20px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .nav_search-btn {
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  color: #ffffff;
}

.custom_nav-container .nav_search-btn:hover {
  color: #b11b0f;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #ffffff;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  border-radius: 5px;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  top: -10px;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}

/*end header section*/

/* Banner section */
.banner_section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 45px 0 145px 0;
}

.banner_section #customCarousel1 {
  width: 100%;
  position: unset;
}

.banner_section .detail-box h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: #004775;
}

.banner_section .detail-box h1 span {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #b11b0f;
}

.banner_section .detail-box p {
  color: #fefefe;
  font-size: 14px;
  text-align: justify;
}

.banner_section .detail-box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -5px;
  margin-top: 25px;
}

.banner_section .detail-box .btn-box a {
  margin: 5px;
  text-align: center;
  width: 165px;
}

.banner_section .detail-box .btn-box .btn1 {
  display: inline-block;
  padding: 10px 15px;
  background-color: #004775;
  color: #fefefe;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #004775;
}

.banner_section .detail-box .btn-box .btn1:hover {
  background-color: transparent;
  color: #fefefe;
  border: 1px solid #fefefe;
}
/* end banner section */


/* Services section */
.services_section {
  position: relative;
}

.services_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 45px;
  background-color: #ffffff;
  border-radius: 5px;
  text-align: center;
}

.services_section .box .img-box {
  width: 90px;
  height: 90px;
  margin-bottom: 15px;
  background-color: #004775;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services_section .box .img-box img {
  max-width: 55px;
  max-height: 55px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.services_section .box .detail-box h5 {
  font-weight: bold;
  text-transform: uppercase;
}

.services_section .box .detail-box a:hover {
  color: #b11b0f;
}

.services_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}
/*end services section */

/*about section */
.about_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_section .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about_section .img-box img {
  width: 100%;
  border-radius: 15px;
}

.about_section .detail-box h3 {
  font-weight: bold;
}

.about_section .detail-box p {
  margin-top: 15px;
  text-align: justify;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #004775;
  color: #ffffff;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #004775;
  margin-top: 15px;
}

.about_section .detail-box a:hover {
  background-color: transparent;
  color: #b11b0f;
}
/*end about section */

/*contact section */
.contact_section {
  position: relative;
}

.contact_section .heading_container {
  margin-bottom: 25px;
}

.contact_section .heading_container h2 {
  text-transform: uppercase;
}

.contact_section .form_container input {
  width: 100%;
  border: none;
  height: 50px;
  margin-bottom: 15px;
  padding-left: 20px;
  outline: none;
  color: #101010;
  background: #eeeeee;
}

.contact_section .form_container input::-webkit-input-placeholder {
  color: #000000;
}

.contact_section .form_container input:-ms-input-placeholder {
  color: #000000;
}

.contact_section .form_container input::-ms-input-placeholder {
  color: #000000;
}

.contact_section .form_container input::placeholder {
  color: #000000;
}

.contact_section .form_container input.message-box {
  height: 175px;
}

.contact_section .form_container button {
  width: 100%;
  border: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 12px 55px;
  background-color: #cf382c;
  color: #ffffff;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #cf382c;
}

.contact_section .form_container button:hover {
  background-color: transparent;
  color: #ffffff;
  background-color: #004775;
  border: 1px solid #004775;
}

.contact_section .map_container {
  height: 368px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 0;
}

.contact_section .map_container .map {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.contact_section .map_container .map #googleMap {
  height: 100%;
}
/*end contact section */


/*Success section */

.back_success{
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  margin: 2.5%;
  padding: 0 0 2%;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  display: flex;
  flex-wrap: wrap;
}

.back_success .rightside{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  text-align: center;
}

.back_success .rightside img{
  width: 50%;
}

.back_success .rightside p{
  width: 50%;
  display: flex;
  align-items: center;
  font-weight: bold;
}


.back_success .leftside{
  width: 50%;
  display: flex;
  flex-direction: row-reverse;
  text-align: center;
}

.back_success .leftside img{
  width: 50%;
}

.back_success .leftside p{
  width: 50%;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.upside{
width: 100%;
text-align: center;
font-size: 2rem;
font-weight: bold;
}

.downside{
  width: 100%;
  display: flex;
  justify-content: center
  }

  .downside button {
    width: 30%;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    display: inline-block;
    padding: 12px 55px;
    background-color: #cf382c;
    color: #ffffff;
    border-radius: 15px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid #cf382c;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.downside button a {
  color: #ffffff;

}
  
  .downside button:hover {
    background-color: transparent;
    color: #ffffff;
    background-color: #004775;
    border: 1px solid #004775;
  }

  @keyframes fadeInUp {
    0% {
      transform: translatex(500%);
      opacity: 0;
      -webkit-transform: translatex(500%);
      -moz-transform: translatex(500%);
      -ms-transform: translatex(500%);
      -o-transform: translatex(500%);
}
    100% {
      transform: translatex(0%);
      opacity: 1;
      -webkit-transform: translatex(0%);
      -moz-transform: translatex(0%);
      -ms-transform: translatex(0%);
      -o-transform: translatex(0%);
}
  }
  
  .fadeInUp-animation {
    animation: fadeInUp 2s;
    -webkit-animation: fadeInUp 2s;
}

@keyframes fadeInd {
  0% {
    transform: translateX(0%);
    opacity: 0;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
}
  100% {
    transform: translateX(0%);
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
}
}

.fadeInd-animation {
  animation: 2s fadeInd;
  -webkit-animation: 2s fadeInd;
}


/*end Success section */



/* World Map Area css
============================================================================================ */
.world_map_area{
padding: 180px 0 0 0;
}

.img-fluid{
  max-width:100%;height:auto
}

.world_map_inner {
  text-align: center;
  position: relative;
}

.bd-callout {
  text-align: left;
  position: absolute;
  left: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  max-width: 550px;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 0px 0px 46px 15px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 46px 15px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 46px 15px rgba(0, 0, 0, 0.15);
  border-left: 8px;
  border-style: solid;
  border-image: -moz-linear-gradient(top, #cf382c 0%, #b11b0f 100%);
  -webkit-border-image: -webkit-linear-gradient(top, #cf382c 0%, #b11b0f 100%);
  border-image: -webkit-linear-gradient(top, #cf382c 0%, #b11b0f 100%);
  -o-border-image: -o-linear-gradient(top, #cf382c 0%, #b11b0f 100%);
  border-image: -webkit-gradient(linear, left top, left bottom, from(#cf382c), to(#b11b0f));
  border-image: linear-gradient(to bottom, #cf382c 0%, #b11b0f 100%);
  border-image-slice: 1;
  border-top: 0px;
  border-bottom: 0px;
  border-right: 0px;
  padding-left: 70px;
  padding-top: 35px;
  padding-bottom: 35px;
}

.bd-callout h3 {
  font-size: 17px;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  padding-bottom: 10px;
}

.bd-callout p {
  color: #7c8d93;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 28px;
  display: inline-block;
}

.bd-callout h4 {
  display: inline-block;
  padding-left: 50px;
}

.bd-callout h4 a {
  display: block;
  color: #7c8d93;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 28px;
}

.bd-callout h4 a:hover {
  color: #b11b0f;
}

@media screen and (max-width:767px) {
  .bd-callout {
    text-align: left;
    position: absolute;
    -webkit-transform: translateY(-50%);
    left: 30px;
    top: 0%;
    width: 85%;
    background: #fff;
  }
}
/* <!-- End World Map Area Section -->
============================================================================================ */


/*   <!-- Footer Section -->
============================================================================================ */
.footer_section {
  background: #004775;
  color: #ffffff;
  padding: 60px 0 15px 0;
  position: relative;
}

.footer_logo img{
  max-width: 200px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.footer_section h4 {
  font-weight: 600;
  margin-bottom: 20px;
}

.footer_section .footer_col {
  margin-bottom: 30px;
}

.footer_section .footer_col p {
 text-align: justify;
}

.footer_section .footer_contact .contact_link_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer_section .footer_contact .contact_link_box a {
  margin: 5px 0;
  color: #ffffff;
}


.footer_section .footer_contact .contact_link_box a:hover {
  color: #ffcbd1;
}

.footer_section .footer_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer_social .svgcolor{
  filter: invert(85%) sepia(43%) saturate(0%) hue-rotate(164deg) brightness(108%) contrast(101%);
  max-width: 30px;
  margin-right: 5px;
  margin-left: 5px;
  -webkit-filter: invert(85%) sepia(43%) saturate(0%) hue-rotate(164deg) brightness(108%) contrast(101%);
}

.footer_section .footer_social .svgcolor:hover {
  filter: invert(76%) sepia(13%) saturate(756%) hue-rotate(307deg) brightness(111%) contrast(101%);
}
/*   <!-- End Footer Section -->
============================================================================================ */


/*   <!-- Sci Code Copy Right -->
============================================================================================ */
.sci-code{
  background: #2f4251;
}

.sci-code p {
  font-family: 'Agency FB Regular', arial;
  font-size: 1rem;
  padding: 0.25rem 0rem;
  color: #f5fcfa;
  margin: auto !important;
}

.sci-code p a{
  color: #f5fcfa;
}

.sci-code p a:hover{
  color: #ffa851;
}
/*   <!-- End Sci Code Copy Right -->
============================================================================================ */